    :root {
        --bs-primary: #f8cacc;
        --bs-primary-rgb: 248, 202, 204;
        --bs-secondary: #b29e6c;
    }

    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        color: #333333;
    }

    nav ul {
        margin: 0;
        padding: 0;
    }

    nav a[href="#servicos"],
    nav a[href="#agendamento"],
    nav a[href="#contato"] {
        color: var(--bs-secondary);
    }

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .h3 {
        font-weight: bold;
        font-size: 2em;
    }

    .text-primary {
        color: var(--bs-secondary) !important;
        font-weight: bold;
        font-size: 1.6em;
    }

    section {
        margin-bottom: 40px;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    ul li.list-group-item {
        margin: 5px 0;
        padding: 10px;
        background-color: var(--bs-primary);
        border-radius: 10px;
        border: 1px solid var(--bs-primary);
        color: #ffffff;
        text-decoration: none;
    }

    ul li.list-group-item a {
        color: #ffffff;
        text-decoration: none;
    }

    ul li.list-group-item a:hover {
        background-color: #b29e6c;
        color: #ffffff;
    }

    ul li.list-group-item:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

    ul li.list-group-item:last-child {
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
    }

    form label {
        display: block;
        margin: 10px 0 5px;
    }

    form input, form button {
        width: 100%;
        padding: 10px;
        margin: 5px 0 20px;
        border-radius: 5px;
        border: 1px solid;
    }

    form input.is-invalid, form select.is-invalid, form textarea.is-invalid {
        border-color: #dc3545;
    }

    form input.is-valid, form select.is-valid, form textarea.is-valid {
        border-color: #28a745;
    }

    form button.btn-primary {
        background-color: var(--bs-primary);
        border-color: var(--bs-primary);
        color: #ffffff;
    }

    form button.btn-primary:hover {
        background-color: #b29e6c;
        border-color: #b29e6c;
    }

    footer {
        background-color: var(--bs-primary);
        color: #ffffff;
    }

    .invalid-feedback {
        display: block;
    }

    .card-body {
        color: #000;
    }

    .card-img-custom {
        height: 500px;
        object-fit: cover;
    }

    #carouselExampleIndicators {
        width: 85%;
        margin: 0 auto;
        max-height: 500px;
    }

    .carousel-inner img {
        object-fit: cover;
        height: 500px;
        width: 100%;
    }

    .carousel-inner {
        margin-top: 40px;
    }

    .card-img-top {
        height: 400px; 
        object-fit: cover; 
    }

    .carousel-item img {
        width: 100%;
        height: 100%; 
    }

    .logo-container {
        background-color: var(--bs-primary); 
        padding: 20px;
        border-radius: 0.5rem;
        text-align: center; 
    }

    .logo-container img {
        max-width: 80%;
        height: auto;
    }

    .welcome-text {
        font-weight: bold;
        font-size: 1rem;
    }

    .form-shadow {
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    }


